{% extends 'layout.html.twig' %}
{% block title %}Mot de passe modifié{% endblock %}
{% block content %}
    {# pour afficher tous type de messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}