.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.back-image{
    background-image: url("../img/fond1.jpg");
}

.btn-outline-orange{
    color: #DF691A;
    background-color: transparent;
    background-image: none;
    border-color: #DF691A;
}

.btn-outline-orange:hover{
    color: #fff;
    background-color: #DF691A;
    border-color: #DF691A;
}

.btn-orange{
    color: #fff;
    background-color: #DF691A;
    border-color: #DF691A;
}

.btn-orange:hover {
    color: #fff;
    background-color: #bd5916;
    border-color: #b15315;
}

.center{
    color: #DF691A;
    margin-top: 18rem;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    font-size: 2rem;
}

.center-btn{
    font-size: 1.2rem;
}

.orange {
    color: #DF691A;
}

.orange:hover {
    color: #000;
    text-decoration: none;
}

.sizeimg{
    width: 200px;
    height: 150px;
}

.twitch-sidebar-link{
    text-decoration: none;
    color: black;
}

.twitch-sidebar-link:hover{
    text-decoration: none;
    color: rgb(27, 27, 27);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;  
}

.toggle_btn{
    height:30px;
    width:30px;
    position:relative;
    float:right;
    margin-right:10px;
    margin-top:5px;
    cursor: pointer;
}

.toggle_btn span {
    height:3px;
    background-color: #2c3e50;
    width:100%;
    position:absolute;
    top: 20px;
    left:0;
}

.toggle_btn span:before {
    content:'';
    height:3px;
    background-color: #2c3e50;
    width:100%;
    position:absolute;
    top: -10px;
    left:0;
}

.toggle_btn span:after {
    content:'';
    height:3px;
    background-color: #2c3e50;
    width:100%;
    position:absolute;
    top: 10px;
    left:0;
}