<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {# Je crée des blocks qui vont être remplis dynamiquement avec les infos propres à chaque page #}
    <title>Changement de mot de passe - YouTwitch</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('img/icon2.png') }}" />
</head>
<body class="bg-dark">

<section class="container mt-5 text-center text-light">
    <h3>Changement de mot de passe</h3>

    <p>Salut ! Vous avez perdu votre mot de passe avec succès.</p>

    <a href="{{ url('login') }}" class="btn btn-outline-orange mb-3">Modifier le mot de passe</a>

    <p>Merci !</p>
</section>

</body>
</html>