{% extends 'layout.html.twig' %}

{% block title %}Test Twitch{% endblock %}


{% block content %}

{% for follow in follows %}

    <img height="42" width="42" src="{{ follow.profile_image_url }}"> <span>{{ follow.display_name }}</span>

    {% if follow.id in streams_user_id %}

    <i style="color:green" class="fas fa-circle"></i>
    
    {% endif %}
    <br>

{% endfor %}
{% endblock %}