<nav class="col-md-2 d-none d-md-block bg-light sidebar mt-5">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('video') }}">
                    <i class="fas fa-home"></i> Accueil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    <i class="fab fa-gripfire"></i> Tendances
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('show-user')}}">
                    <i class="fas fa-user-tie"></i> Mon profil
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('admin')}}">
                    <i class="fas fa-users"></i> Page administrateur
                </a>
            </li>
            {% endif %}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Mes abonnement</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    <i class="fas fa-music"></i> Musique
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    <i class="fas fa-football-ball"></i> Sport
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    <i class="fas fa-gamepad"></i> Jeu vidéo
                </a>
            </li>
        </ul>
    </div>
    <div class="mt-5">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Confidantialité</a>
            </li>
        </ul>
    </div>
</nav>