{% extends 'layout.html.twig' %}

{% block title %}Chercher une chaîne{% endblock %}
{% block content %}
    <div id="search">
        <input type="search" name="" id="champsRecherche" placeholder="Saisir l'id de votre chaine">
        <button type="submit" id="check">Check !</button>
    </div>
    <div id ="result"></div>
{% endblock %}
    {% block js %}
        <script>
            $('body').on('click','#check',function(e){
                e.preventDefault();
                var url = "{{ path('YsearchSubs',{id:'0'}) }}";
                console.log(url);
                url = url.replace('0',$('#champsRecherche').val());
                console.log(url);

                $.ajax({
                    type:'get',
                    url:url,
                    timeout:'3000',
                    dataType:'html',
                    success: function(data){
                        $('#result').html(data);
                    },
                    error: function (error){
                        console.log(error.responseText);
                    }
                })
            })
        </script>
    {% endblock %}

