{% block content %}
    {% for sub in subs %}
        <a href=""><img src="{{ sub.snippet.thumbnails.default.url }}" style="padding-top: 5px"></a><h3>{{  sub.snippet.title }}</h3><br><hr>
    {% endfor %}
{% endblock %}