{% for chat in chats %}
    <li>{{ chat.message }} <span class="font-weight-light font-italic">({{ chat.user.username }} le {{ chat.dateenvoie|date('d/m/Y') }} à {{ chat.dateenvoie|date('H:i:s') }})</span></li>
{% endfor %}