{% for chat in chats %}

    <li class="my-1"><strong>{{ chat.user.username }} :</strong><span> {{ chat.message }} </span><span class="font-weight-light font-italic">{{ chat.dateenvoie|date('H:i:s') }}</span></li>

{% endfor %}