{% extends 'layout.html.twig' %}
{% block title %}Messages{% endblock %}
{% block content %}

    {# equivalent twig de la boucle foreach #}


    {# à chaque tour de boucle, on récupère article qui ici est un objet
    Pour accéder le titre, article.title #}
    <ul class="list-group">
        {% for message in messages %}
            <li class="list-group-item">
                <strong>Expediteur : </strong> {{ message.sender}}  | <strong>Destinataire : </strong>{{ message.recipient }} | {{ message.dateenvoi | date('d-m-Y') }}

                {% if message.lu %}
                    <p>Message Lu</p>
                {% else %}
                    <p>Message Non Lu</p>
                {% endif %}


                <a href="{{ path('message', {id : message.id}) }}"> Voir</a>
            </li>
        {%  endfor %}
    </ul>
{% endblock %}
