{% extends 'logLayout.html.twig' %}

{% block title %}Bienvenue sur YouTwitch{% endblock %}

{% block content %}
<section class="text-center">
    <h1 class="center">Toutes vos vidéos favorites au même endroit</h1>

    <a href="{{ path('login') }}" class="btn btn-orange center-btn mt-2 text-uppercase font-weight-bold col-2">Rejoignez-nous</a>
</section>
{% endblock %}