{% extends 'layout.html.twig' %}

{% block title %}A Propos - YouTwitch{% endblock %}

{% block content %}

    <section class="container text-center">
        <h1 class="mb-5 titleFont">YouTwitch</h1>
        <p>Site réalisé dans la cadre de la formation <a href="http://www.wf3.fr/" target="_blank" class="orange">WebForce 3</a>.</p>
        <p>Il a été réalisé par Arthur BERNADET, Mohamed GUELAI, Pierre VIGNAUD et Thomas MAISONNEUVE</p>

    </section>

{% endblock %}

