{% extends 'layout.html.twig' %}

{% block title %}Mot de passe Oublié{% endblock %}

{% block content %}

    {# pour afficher tous type de messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}



<div class="d-flex justify-content-center">


    <div class="card" style="width: 30rem; margin: 50px; padding: 30px;">
        <div class="card-body" >
            <h5 class="card-title" style="text-align: center;font-weight: bold;">Mot de passe oublié?</h5>
            <br>
            <p>Pas de panique! Nous vous enverrons par e-mail un lien pour vous créer un nouveau mot de passe.</p>
            {# le formulaire de login #}
            <form action="{{ path('reset-password') }}" method="post">
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input required type="email" id="email" name="email" class="form-control" placeholder="email">
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Envoyer</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}