{% extends 'logLayout.html.twig' %}

{% block title %}Mot de passe - YouTwitch{% endblock %}

{% block content %}

<section class="d-flex justify-content-center">
    <div class="card" style="width: 30rem; margin: 50px; padding: 30px;">
        <div class="card-body" >
            {# Pour afficher tous type de message #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <h3 class="card-title titleOrange" style="text-align: center;font-weight: bold;">Mot de passe oublié ?</h3>
            <br>
            <p>Ça arrive à tout le monde ! Nous allons vous envoyer la marche à suivre par e-mail.<br>C'est simple et rapide ☻</br></p>
            {# le formulaire de login #}
            <form action="{{ path('reset-password') }}" method="post">
                <div class="form-group">
                    <label for="email">Adresse E-Mail :</label>
                    <input required type="email" id="email" name="email" class="form-control" placeholder="@">
                </div>

                <button type="submit" class="btn btn-orange btn-block">Envoyer</button>
            </form>

        </div>
    </div>
</section>

{% endblock %}