{% extends'layout.html.twig' %}
{% block title %}Modification du profil{% endblock %}

{% block content %}

    <section class="container">
    {{ form_start(form, {'attr': {'class': 'col-6 m-auto alert alert-dark'}}) }}
    {{ form_widget(form) }} {#permet de créer les champs#}

    {{ form_end(form) }}
    </section>

{% endblock %}