{% extends 'visionnage.html.twig' %}

{% block chanelName %}{{ display_name }}{% endblock %}
{% block titleLive %}{{ video_data.title }}{% endblock %}
{% block view %}
    <b>Vues : {{ video_data.view_count }}</b>
{% endblock %}

{% block video %}
{% if vid_id %}

<div class="d-flex justify-content-center mb-4 mt-4">

    <iframe src="https://player.twitch.tv/?video={{ vid_id }}&autoplay=true&muted=false"  
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="567"
        width="930">
    </iframe>

</div>

{% endif %}
{% endblock %}